body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
main {
  padding: 20px;
}
section#sheet-container {
  display: flex;
  justify-content: space-around;
}
.sheet {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.row {
  display: flex;
}
.cell {
  padding: 4px;
  border: 1px solid #ccc;
  width: 87px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.cell:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.cell.header {
  text-align: center;
  background-color: #e9ecef;
}
.cell.header.active {
  background-color: #007bff;
  color: white;
}
.export-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 10px 10px;
  display: block;
}
.add-rows {
  display: inline-flex;
  flex-direction: row;
}
.add-rows.btn {
  color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 5px;
}
.add-rows.btn:hover {
  background-color: rgb(223, 225, 228);
}
.row-count {
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1px;
  width: 60px;
  margin: 10px 5px;
}
.add-rows-text {
  margin-top: 10px;
  padding: 10px 5px;
  font-size: 14px;
}
.selected-name-box-container {
  margin: 10px 5px;
  display: inline-flex;
  align-items: center;
  min-width: 60px;
  min-height: 25px;
}
.selected-name-box-container:hover {
  background-color: #e9ecef;
}
.selected-name-box,
.active-cell {
  font-size: 12px;
  padding: 5px;
}
.formula-bar-container {
  display: inline-flex;
  min-height: 34px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.formula-bar-separator {
  border-left: 1px solid #ccc;
  width: 1px;
  height: 100%:
}
